<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moyu.redarmy.mappers.NodeMapper">

    <sql id="Base_Column_List">
    id,name
    </sql>

    <select id="getNodeTree" resultMap="BaseTreeResultMap">

        SELECT
        <include refid="Base_Column_List"/>
        FROM node
        WHERE parent_id = 0

    </select>


    <resultMap id="BaseTreeResultMap" type="com.moyu.redarmy.model.Node">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <collection column="id" property="next" javaType="java.util.ArrayList"
                    ofType="com.moyu.redarmy.model.Node" select="getNextNodeTree"/>
    </resultMap>

    <select id="getNextNodeTree" resultMap="NextTreeResultMap">

        SELECT
        <include refid="Base_Column_List"/>
        FROM node
        WHERE parent_id = #{id}

    </select>

    <resultMap id="NextTreeResultMap" type="com.moyu.redarmy.model.Node">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <collection column="id" property="next" javaType="java.util.ArrayList"
                    ofType="com.moyu.redarmy.model.Node" select="getNextNodeTree"/>
    </resultMap>





</mapper>